%ul.learnings
  - @learnings.each do |learning|
    %li[learning]
      %span.content= learning.content
      .actions
        = link_to 'Edit', edit_learning_path(learning)
        = link_to 'Destroy', learning, :confirm => 'Are you sure?', :method => :delete

- content_for :header do
  %h1 Aha
  = form_for :learning, :class => 'bp' do |f|
    .field
      = f.text_field :content, :placeholder => 'O que você aprendeu hoje?'
    .actions
      = f.submit 'Save'